body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
}

textarea {
    width: 300px;
    height: 150px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
#section{
    text-align: center;
}